.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
}
.storybook-button--primary {
  background-color: #E288F6;
  color: black !important;
}

.storybook-button--primary:focus {
  background-color: #a97cb3;
}
.storybook-button--primary:hover {
  background-color: #E8E7E7;
}

.storybook-button--primary .mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after{
  background-color: #6F6F6F80;
}

.storybook-button-primary--disabled {
  background-color: #FFFFFF;
  color: #393939 !important;
}

.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: white !important;
  border: #6F6F6F solid 1px;
}

.storybook-button--secondary:focus:hover {
  background-color: #6F6F6F80;
}

.storybook-button--secondary .mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after{
  background-color: #6F6F6F;
}

.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
  display: flex;
}

.storybook-button--disabled {
  background-color: transparent;
  color: #5a5a5a !important;
}

/* SMUI Overrides */
.mdc-button__ripple{
	border-radius: 50px !important;
}
.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after{
  background-color: #6F6F6F;
}
.mdc-button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: var(--mdc-text-button-pressed-state-layer-opacity, 0.5);
}