:root{
    --mdc-theme-on-surface: var(--mdai-white);
}

/* Dropdown */
.mdc-menu-surface {
    background-color: var(--mdai-high-emphasis-100);
    color: var(--mdai-light-grey-2)
}
.mdc-menu .mdc-deprecated-list{
  width: 360px;
  color: var(--mdai-light-grey-2)
}

/* Before dropdown */
.mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor{
    background-color: var(--mdai-high-emphasis-80);
    color: var(--mdai-font-1--primary);
}

/* Dropdown Icon */
.mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon{
    fill: var(--mdai-light-grey-2);
}

/* Floating label */
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label{
    color: var(--mdai-med-grey);
}
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label{
  color: var(--mdai-med-grey);
}

/* Selected text */
.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text, .mdc-deprecated-list-item--selected{
  color: var(--mdai-white);
}

:not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--selected .mdc-deprecated-list-item__ripple::before, :not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--selected .mdc-deprecated-list-item__ripple::after{
  background-color: var(--mdai-high-emphasis-60);
}

